<p>
  Código {{ customer.value.id }}
</p>

<div class="btn-group" role="group">
  <a class="btn btn-primary" routerLinkActive="active" role="button" routerLink="./">Dados pessoas</a>
  <a class="btn btn-primary" routerLinkActive="active" role="button" routerLink="endereco">Endereco</a>
</div>

<div class="container">

  <router-outlet></router-outlet>

  <form [formGroup]="customer" (ngSubmit)="onSubmit()">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="nome">Nome</label>
        <input formControlName="firstName" type="text" name="nome" class="form-control" placeholder="Nome">
      </div>
      <div class="form-group col-md-6">
        <label for="sobrenome">Sobrenome</label>
        <input formControlName="lastName" type="text" name="sobrenome" class="form-control" placeholder="Sobrenome">
      </div>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>